@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /*擴充專案的全站樣式*/
  body {
    margin: 0;
    font-family:'Roboto','Noto Sans TC',system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a:hover, svg:hover, button:hover{
    opacity: 0.9;
  }
}

@layer components {
  /*自組元件*/
  .my-container {
    @apply xl:container xl:mx-auto p-4;
  }

  .my-title{
    @apply text-wine-600 font-bold text-center
    text-[24px] md:text-[48px] lg:text-5xl
  }

  .roboto{
    font-family:'Roboto', sans-serif;
  }
  
}

@layer utilities{
  /*自組樣式*/
}